.camContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: left;
  overflow: hidden;
  flex-shrink: 0;
  width: 100%;
}

.camContainer > * {
  grid-row: 1;
  grid-column: 1;
}

.controls {
  z-index: 99;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--spacerSm);
  gap: var(--spacerSm);
}

.webcam {
  object-fit: cover;
}
